dl
{
	background: pink;
	margin: 10%;
	border: dotted red 3px;
} /* dl */

dt
{
	background: grey;
	font-family: serif;
	margin: 5%
	
} /* dt */

dd
{
	color: blue;
	margin: 10%;
	
} /* dd */

body
{
	background: yellow;
	
} /* body */
